[submodule "h-learning-upload-mp4"]
	path = h-learning-upload-mp4
	url = git@github.com:duyhung2k4/h-learning-upload-mp4.git
[submodule "h-learning-encoding-hls"]
	path = h-learning-encoding-hls
	url = git@github.com:duyhung2k4/h-learning-encoding-hls.git
[submodule "h-learning-video-hls"]
	path = h-learning-video-hls
	url = git@github.com:duyhung2k4/h-learning-video-hls.git
[submodule "h-learning-core"]
	path = h-learning-core
	url = git@github.com:duyhung2k4/h-learning-core.git
[submodule "h-learning-fe"]
	path = h-learning-fe
	url = git@github.com:duyhung2k4/h-learning-fe.git
